body {
    background-color: #a9afaf9b !important;
}

h1 {
    text-align: center;
    color: #CA2C33;
}

img.logo {
    display: block;
    width: 15%;
}

img.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.land_link{
    width: 25% !important;
    margin: auto !important;
}
ul {
    list-style: none;
}

.nav-link {
    color: #CA2C33 !important;
    }

nav div ul li a {
    font-weight: bold;
}